src/Solutions/MarkTestSmall20250627/src/Workflows/MarkTest1-C72BD3B0-0AE3-EF11-8EEA-001DD809BC76.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cdcep_sharedcommondataserviceforapps_572a0"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cdcep_sharedwebcontents_5d9f5"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "49dd0eb1-29f8-4e90-b045-7f13dd9e6acd"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0659df85-bfc7-4306-a929-2d05fd64203e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "$select": "contactid,fullname",
              "$top": 100
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Compose": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "73d8e913-2d70-4ec0-bcf6-65097a5a957b"
          },
          "type": "Compose",
          "inputs": "@outputs('List_rows')?['body/value']"
        },
        "Invoke_an_HTTP_request": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a9af6320-8012-4f1b-8d12-a006154b8e6e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "GET",
              "request/url": "/api/data/v9.2/contacts?$select=contactid,fullname,cdcep_volunteertype,_cdcep_state_id_value&$filter=(startswith(lastname,+%27goo%27)+and+_cdcep_state_id_value+ne+null)&$count=true&$top=100",
              "request/headers": {
                "Prefer": "odata.include-annotations=*"
              }
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Compose_2": {
          "runAfter": {
            "Invoke_an_HTTP_request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2a3c5dfc-ccda-4b54-9ceb-777f4b9ae8d8"
          },
          "type": "Compose",
          "inputs": "@body('Invoke_an_HTTP_request')"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}